<!-- Templates: note these would be precompiled in a final release -->


<!-- 
    Template: template-chat-message
    Use:
    {
        outbound: false,
        sender: "John Doe",
        message: "example message",
        time: "1h"
    }
-->
<script id="template-chat-message" type="text/x-handlebars-template">

    <div class="message-wrap">
      <div class="message {{#if outbound}}outbound{{/if}}">
          <p class="mes-party">{{sender}}</p>
          <div class="mes-bubble">
            <div class="mes-text">
              <p>{{message}}</p>
            </div>
          </div>
          <time class="mes-info">{{time}}</time>
        </div>
    </div>

</script>