<% include ../partials/head %>

<main id=account style="padding:20px">

    <h1> Account Info </h1>


    <table id = "currentInfo" style="width:100%">
      <tr>
        <th>Firstname</th>
        <th><%= firstName %></th>
      </tr>
      <tr>
        <th>Lastname</th>
        <th><%= lastName %></th>
      </tr>
      <tr>
        <th>Email</th>
        <th><%= email %></th>
      </tr>
    </table>

    <form id = "accInfoChange" action = "/account" method="post">
      <h2> Change account information </h2>

      <label for="fName"> First Name: </label>
      <input type="text" name="fName" placeholder="first name">

      <label for="lName"> Last Name: </label>
      <input type="text" name="lName" placeholder="last name">

      <label for="password"> Password: </label>
      <input type="password" name="password" placeholder="password">

      <button type="submit">Save Changes</button>

    </form>

</main>

<% include ../partials/foot %>
