<% include ../partials/head %>

<main id=confirm-email>
    <h2>Just one more step...</h2>
    <p>Please confirm your university email to activate your account</p>
    <form class="" action="/login" method="post">
    <label for="activationCode">Enter the 4 digit code we've emailed to you:</label>
    <input type="activationCode" name="text" value="" placeholder="1234" aria-label="required">
    <button type="submit">Activate Account</button><a class="resend" href="/resendActivationEmail">Didn't get a code?</a>
    </form>
  </main>

<% include ../partials/foot %>