<% include ../partials/head %>

<main style="padding:20px">

    <h1>Account recovery</h1>
    <p>We're still working on this. Please email the IT help desk to recover your account.</p>
    <p>helpdesk@lecturelink.co.uk</p>

</main>

<% include ../partials/foot %>