<% include ../partials/head %>

<main style="padding:20px">

    <form>
      <label for="userName"> User name: </label>
      <input id="userName" type="text" name="userNameInput" value="User name">

      <label for="password"> Password: </label>
      <input id="password" type="password" name="passwordInput" value="password">

      <input type="submit" value="Log In">
    </form>


    <!-- validate email -->
    validateEmail(userNameInput)

    <!-- hash password -->

    <!-- validate by comparing entered vs stored password -->
    passwordCompare(hashPW(passwordInput), STOREDPASSWORD)
    <!-- if match, generate token -->
    
    <!-- if not, return error -->
</main>

<% include ../partials/foot %>
