<% include ../partials/head %>

<main id=wrap>

    <aside id="main-col1" class="main-col">
        <!-- Main Navigation -->
        <% include ../partials/columns/main-nav %>
    </aside>

    <aside id="main-col2" class="main-col">
        <!-- Converstions -->
        <% include ../partials/columns/conversations %>
    </aside>

    <div id="main-col3" class="main-col">
        <!-- Chat -->
        <% include ../partials/columns/chat %>
    </div>


</main>


<% include ../partials/foot %>