<% include ../partials/head %>

<main id=messages-wrap>

    <!-- Main Navigation -->
    <% include ../partials/columns/main-nav %>

    <!-- We can use EJS if statements to decide what to show -->
    <%if (false) {%>
        // col1 will be defined and passed from server.js based on what the url is.
        <%if (col1 === 'conversations') { %>
    
            <% include ../partials/columns/conversations %>

        <% } else { %>
    
            // default options

        <% } } %> */

    <!-- Converstions -->
    <% include ../partials/columns/conversations %>

    <!-- Chat -->
    <% include ../partials/columns/chat %>


</main>


<% include ../partials/foot %>