<% include ../partials/head %>

<main style="padding:20px">

    <h1>Register</h1>

    <form action="/register" method="post">
      <label for="name"> User name: </label>
      <input id="name" type="text" name="name" placeholder="John Smith" required>

      <label for="email"> Email: </label>
      <input id="email" type="email" name="email" placeholder="example@example.com" required>

      <label for="password"> Password: </label>
      <input id="password" type="password" name="password" value="password">

      <input type="submit" value="Register">
    </form>
    <a href="/login">Already have an account?</a>
</main>

<% include ../partials/foot %>
