<div id=messages-container>
    <section id=messages>
      <div class="message inbound">
        <p class="mes-party">Jon Doe</p>
        <div class="mes-bubble">
          <div class="mes-text">
            <p>Hey! I was just wondering if you completed your assignment?</p>
          </div>
        </div>
        <time class="mes-info">3hrs ago</time>
      </div>
      <div class="message outbound">
        <p class="mes-party">You</p>
        <div class="mes-bubble">
          <div class="mes-text">
            <p>Almost, I'll message you back when it's done. Shouldn't be long!</p>
          </div>
        </div>
        <time class="mes-info">2hrs ago</time>
      </div>
    </section>
    <form id=new-message>
      <input type="text" name="message" value="" placeholder="Enter a message...">
      <button type="submit">Send</button>
    </form>
  </div>