<div id=main-nav>
    <h2>Live Sessions</h2>
    <section id=join-session>
      <input type="text" maxlength="4" onkeydown="return event.keyCode !== 69" placeholder="XXXX">
      <button type="button">Join Session</button>
      <p>or <a href="#start-session">Start a session</a></p>
    </section>
    <h2>Messages</h2>
    <nav class="n2-controls">
      <ul>
        <li id=n2-button-conversations>
          
            <span class="n2-icon"><i class="far fa-envelope"></i></i></span>
            <span class="n2-dest">All Messages</span>
          
        </li>
        <li>
          
            <span class="n2-icon"><i class="fas fa-envelope"></i></span>
            <span class="n2-dest">Unread Messages</span>
          
        </li>
        <li>
          
            <span class="n2-icon"><i class="fas fa-plus"></i></span>
            <span class="n2-dest">Start a conversation</span>
          
        </li>
        <li>
          
            <span class="n2-icon"><i class="fas fa-archive"></i></span>
            <span class="n2-dest">Archived Messages</span>
          
        </li>
        <li>
          
            <span class="n2-icon"><i class="fas fa-users"></i></span>
            <span class="n2-dest">Previous Sessions</span>
          
        </li>
      </ul>
    </nav>
    <h2>Connections</h2>
    <nav class="n2-controls">
      <ul>
        <li id="n2-button-discover">
          
            <span class="n2-icon"><i class="fas fa-compass"></i></span>
            <span class="n2-dest">Discover People</span>
          
        </li>
        <li id="n2-button-saved-lecturers">
          
            <span class="n2-icon"><i class="fas fa-chalkboard-teacher"></i></span>
            <span class="n2-dest">Your Lecturers</span>
          
        </li>
        <li id="n2-button-saved-students">
          
            <span class="n2-icon"><i class="fas fa-user-graduate"></i></span>
            <span class="n2-dest">Saved Students</span>
          
        </li>
        <li id="n2-button-blocked">
          
          <span class="n2-icon"><i class="fa fa-ban"></i></span>
          <span class="n2-dest">Blocked Users</span>
        
      </li>
      </ul>
    </nav>
</div>
